In [2]:
import pandas as pd

## Creating  series(these are a one dimensional array like datta structure that is labeled with indexes

In [3]:
a=pd.Series([1,2,3,4,5,6,])

In [4]:
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
print(a)

NameError: name 'a' is not defined

In [8]:
data=[10,20,30,40,50]
data

[10, 20, 30, 40, 50]

In [11]:
index_labels=['A','B','C','D','E']
series_data=pd.Series(data,index_labels)
print(series_data)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [8]:
series_ic=pd.Series([120,12,1303,13])
print(series_ic)

0     120
1      12
2    1303
3      13
dtype: int64

In [13]:
series_b = pd.Series([1, 4, 5, 6])

# Print the Series
print(series_b)

0    1
1    4
2    5
3    6
dtype: int64

In [15]:
series_c= pd.Series([10,10,20,30])
print(series_c)

0    10
1    10
2    20
3    30
dtype: int64

In [16]:
series_d=pd.Series([10,1230,12,150])
print(series_d)

0      10
1    1230
2      12
3     150
dtype: int64

In [11]:
series_bi=pd.Series([1,4,5,6])
print(series_bi)

0    1
1    4
2    5
3    6
dtype: int64

##checking the type

In [12]:
type(series_bi)

pandas.core.series.Series

In [13]:
print(series_bi[2])

5

In [ ]:
print(series_ic[2,0])

In [23]:
print(series_b[2,4,0])

KeyError: 'key of type tuple not found and not a MultiIndex'

In [24]:
print(series_bi.loc[1])

4

##accesing multiple values of a series
##Integer  baseed indexing

In [ ]:
series_a=pd.Series([1,5,6,2,7,8])
print(series_a[[1,0]])

##Label based indexing

In [28]:
series_f=pd.Series([1,2,5,4,6,8])

print(series_f.loc[[1,3]])

1    2
3    4
dtype: int64

In [ ]:
##slicing

In [29]:
series_di = pd.Series([10, 20, 30, 40, 50])
print(series_di[1:4])

1    20
2    30
3    40
dtype: int64

##CREATING A DATA FRAME

In [ ]:
##from a csv file

In [4]:
file_path=r'C:\Users\Dell\AppData\Local\Programs\Python\Python312\Scripts\telco_churn.csv'
df =pd.read_csv(file_path)
print(df.head())

NameError: name 'pd' is not defined

In [5]:
import pandas as pd

# Specify the correct file path including the CSV file name
file_path = r'C:\Users\Dell\AppData\Local\Programs\Python\Python312\Scripts\telco_churn.csv'

# Read data from CSV file using the correct file path
df = pd.read_csv(file_path)

# Show top 5 rows
print(df.head())

  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1            110.0
1                     26              161.6            123.0
2                      0              243.4            114.0
3                      0              299.4             71.0
4                      0              166.7            113.0

   Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0             45.07              197.4             99.0             16.78
1             27.47              195.5            103.0             16.62
2             41.38              121.2            110.0             10.30
3             50.90               61.9             88.0              5.26
4             28.34              148.3            122.0             12.61

   Total night minutes  Total night calls  Total night charge  \
0                244.7               91.0               11.01
1                254.4              103.0               11.45
2                162.6              104.0                7.32
3                196.9               89.0                8.86
4                186.9              121.0                8.41

   Total intl minutes  Total intl calls  Total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   Customer service calls  Churn
0                     1.0  False
1                     1.0  False
2                     0.0  False
3                     2.0  False
4                     3.0  False

In [43]:
df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [44]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

##the functions head(),tail() get us the first five and the last five rows resectively
##but to access any above that no,specify it as an argument in the bracket

In [7]:
df.head(10)
## this gets the first 10 rows

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5,3.02,0.0,False

In [8]:
df.head(12)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5,3.02,0.0,False
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,83.0,19.42,208.8,111.0,9.40,12.7,6,3.43,4.0,True
11,RI,74,415,No,No,0,187.7,127.0,31.91,163.4,148.0,13.89,196.0,94.0,8.82,9.1,5,2.46,0.0,False

In [ ]:
##show columns and data types

In [9]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [11]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                      object
dtype: object

##summary statistics

In [12]:
df.describe

<bound method NDFrame.describe of      State  Account length  Area code International plan Voice mail plan  \
0       KS             128        415                 No             Yes
1       OH             107        415                 No             Yes
2       NJ             137        415                 No              No
3       OH              84        408                Yes              No
4       OK              75        415                Yes              No
...    ...             ...        ...                ...             ...
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
0                        25              265.1            110.0
1                        26              161.6            123.0
2                         0              243.4            114.0
3                         0              299.4             71.0
4                         0              166.7            113.0
...                     ...                ...              ...
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0                45.07              197.4             99.0             16.78
1                27.47              195.5            103.0             16.62
2                41.38              121.2            110.0             10.30
3                50.90               61.9             88.0              5.26
4                28.34              148.3            122.0             12.61
...                ...                ...              ...               ...
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
0                   244.7               91.0               11.01
1                   254.4              103.0               11.45
2                   162.6              104.0                7.32
3                   196.9               89.0                8.86
4                   186.9              121.0                8.41
...                   ...                ...                 ...
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
0                   10.0                 3               2.70
1                   13.7                 3               3.70
2                   12.2                 5               3.29
3                    6.6                 7               1.78
4                   10.1                 3               2.73
...                  ...               ...                ...
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
0                        1.0  False
1                        1.0  False
2                        0.0  False
3                        2.0  False
4                        3.0  False
...                      ...    ...
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

[3333 rows x 20 columns]>

In [13]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3323.000000,3323.000000,3315.000000,3324.000000,3325.000000,3333.000000,3333.000000,3332.000000,3333.000000,3333.000000,3333.000000,3328.000000,3328.000000
mean,101.064806,437.182418,8.099010,179.787150,100.456214,30.557831,201.033935,100.110677,17.083540,200.872037,100.115246,9.039325,10.237294,4.479448,2.764588,1.563101
std,39.822106,42.371290,13.688365,54.419625,20.057356,9.255987,50.676652,19.932115,4.310668,50.573847,19.566710,2.275873,2.791840,2.461214,0.754086,1.315870
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.420000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.500000,114.000000,36.780000,235.325000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [ ]:
##Includes none float and integer values

In [14]:
df.describe(include="object")

       State International plan Voice mail plan  Churn
count   3333               3333            3333   3325
unique    51                  2               2      2
top       WV                 No              No  False
freq     106               3010            2411   2842

##filtering columns

In [15]:
df.State

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [ ]:
## For column titles with spaces

In [16]:
df["International plan"]

0        No
1        No
2        No
3       Yes
4       Yes
       ...
3328     No
3329     No
3330     No
3331    Yes
3332     No
Name: International plan, Length: 3333, dtype: object

In [ ]:
##Filtering Multple columns

In [17]:
df[["State","International plan"]]

     State International plan
0       KS                 No
1       OH                 No
2       NJ                 No
3       OH                Yes
4       OK                Yes
...    ...                ...
3328    AZ                 No
3329    WV                 No
3330    RI                 No
3331    CT                Yes
3332    TN                 No

[3333 rows x 2 columns]

In [ ]:
##unique values

In [19]:
df.State.unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

##Filtering Rows
##Conditional based filltering

In [22]:
df[df["International plan"]=='No']

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [ ]:
##Filtering two rows

In [27]:
df[(df['International plan'] == 'No') & (df['Churn'] == False)]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
11,RI,74,415,No,No,0,187.7,127.0,31.91,163.4,148.0,13.89,196.0,94.0,8.82,9.1,5,2.46,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [ ]:
## using the iLoc to get specific data using integers

In [28]:
df.iloc[2]

State                        NJ
Account length              137
Area code                   415
International plan           No
Voice mail plan              No
Number vmail messages         0
Total day minutes         243.4
Total day calls           114.0
Total day charge          41.38
Total eve minutes         121.2
Total eve calls           110.0
Total eve charge           10.3
Total night minutes       162.6
Total night calls         104.0
Total night charge         7.32
Total intl minutes         12.2
Total intl calls              5
Total intl charge          3.29
Customer service calls      0.0
Churn                     False
Name: 2, dtype: object

In [ ]:
## accesing specific values in a row and column
##The first value specifies the row and the next value the column

In [29]:
df.iloc[1,3]

'No'

In [ ]:
## slicing

In [30]:
df[1:11]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5,3.02,0.0,False
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,83.0,19.42,208.8,111.0,9.40,12.7,6,3.43,4.0,True

In [33]:
state=df.copy()
df.set_index('state',inplace=True)

In [35]:
state.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

In [37]:
print(df.loc['KS'])

       Account length  Area code International plan Voice mail plan  \
State
KS                128        415                 No             Yes
KS                 70        408                 No              No
KS                 92        408                Yes              No
KS                137        408                 No              No
KS                132        415                 No              No
...               ...        ...                ...             ...
KS                164        510                 No             Yes
KS                101        415                 No              No
KS                127        415                 No             Yes
KS                 57        415                 No              No
KS                170        415                 No             Yes

       Number vmail messages  Total day minutes  Total day calls  \
State
KS                        25              265.1            110.0
KS                         0              232.1            122.0
KS                         0               62.6            111.0
KS                         0              205.9             88.0
KS                         0               83.4            110.0
...                      ...                ...              ...
KS                        30              238.8            100.0
KS                         0              231.3             87.0
KS                        24              154.8             69.0
KS                         0              158.1            117.0
KS                        42              199.5            119.0

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
State
KS                45.07              197.4             99.0             16.78
KS                39.46              292.3            112.0             24.85
KS                10.64              180.6            126.0             15.35
KS                35.00              209.3             86.0             17.79
KS                14.18              232.2            137.0             19.74
...                 ...                ...              ...               ...
KS                40.60              230.0            121.0             19.55
KS                39.32              224.7             88.0             19.10
KS                26.32              177.2            105.0             15.06
KS                26.88              115.2            149.0              9.79
KS                33.92              135.0             90.0             11.48

       Total night minutes  Total night calls  Total night charge  \
State
KS                   244.7               91.0               11.01
KS                   201.2              112.0                9.05
KS                   221.7               80.0                9.98
KS                   289.9               84.0               13.05
KS                   146.7              114.0                6.60
...                    ...                ...                 ...
KS                   206.3               66.0                9.28
KS                   214.6               69.0                9.66
KS                   207.6              102.0                9.34
KS                   182.4               92.0                8.21
KS                   184.6               49.0                8.31

       Total intl minutes  Total intl calls  Total intl charge  \
State
KS                   10.0                 3               2.70
KS                    0.0                 0               0.00
KS                   10.4                 2               2.81
KS                   14.5                 4               3.92
KS                    7.6                 5               2.05
...                   ...               ...                ...
KS                   13.2                 8               3.56
KS                    7.2                 7               1.94
KS                    9.0                 4               2.43
KS                   11.8                 7               3.19
KS                   10.9                 3               2.94

       Customer service calls  Churn
State
KS                        1.0  False
KS                        3.0  False
KS                        1.0   True
KS                        2.0  False
KS                        1.0  False
...                       ...    ...
KS                        1.0  False
KS                        1.0  False
KS                        1.0  False
KS                        0.0  False
KS                        4.0   True

[70 rows x 19 columns]

In [38]:
print(df.loc['OH'])

       Account length  Area code International plan Voice mail plan  \
State
OH                107        415                 No             Yes
OH                 84        408                Yes              No
OH                 65        408                 No              No
OH                 83        415                 No              No
OH                 63        415                Yes             Yes
...               ...        ...                ...             ...
OH                160        415                 No              No
OH                 88        408                 No              No
OH                106        415                 No             Yes
OH                 78        408                 No              No
OH                 96        415                 No              No

       Number vmail messages  Total day minutes  Total day calls  \
State
OH                        26              161.6            123.0
OH                         0              299.4             71.0
OH                         0              187.9            116.0
OH                         0              337.4            120.0
OH                        36              199.0            110.0
...                      ...                ...              ...
OH                         0              206.3             66.0
OH                         0              274.6            105.0
OH                        30              220.1            105.0
OH                         0              193.4             99.0
OH                         0              106.6            128.0

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
State
OH                27.47              195.5            103.0             16.62
OH                50.90               61.9             88.0              5.26
OH                31.94              157.6            117.0             13.40
OH                57.36              227.4            116.0             19.33
OH                33.83              291.3            111.0             24.76
...                 ...                ...              ...               ...
OH                35.07              241.1            109.0             20.49
OH                46.68              161.1            121.0             13.69
OH                37.42              222.2            109.0             18.89
OH                32.88              116.9             88.0              9.94
OH                18.12              284.8             87.0             24.21

       Total night minutes  Total night calls  Total night charge  \
State
OH                   254.4              103.0               11.45
OH                   196.9               89.0                8.86
OH                   227.3               86.0               10.23
OH                   153.9              114.0                6.93
OH                   197.6               92.0                8.89
...                    ...                ...                 ...
OH                   227.8              102.0               10.25
OH                   194.4              123.0                8.75
OH                   158.4               96.0                7.13
OH                   243.3              109.0               10.95
OH                   178.9               92.0                8.05

       Total intl minutes  Total intl calls  Total intl charge  \
State
OH                   13.7                 3               3.70
OH                    6.6                 7               1.78
OH                    7.5                 6               2.03
OH                   15.8                 7               4.27
OH                   11.0                 6               2.97
...                   ...               ...                ...
OH                   11.7                 6               3.16
OH                    9.2                 4               2.48
OH                   13.1                 8               3.54
OH                    9.3                 4               2.51
OH                   14.9                 7               4.02

       Customer service calls  Churn
State
OH                        1.0  False
OH                        2.0  False
OH                        1.0  False
OH                        0.0   True
OH                        1.0  False
...                       ...    ...
OH                        0.0  False
OH                        2.0  False
OH                        0.0  False
OH                        2.0  False
OH                        1.0  False

[78 rows x 19 columns]

In [ ]:
#Drop rows

In [39]:
df.isnull().sum()

Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          5
Customer service calls     5
Churn                      8
dtype: int64

In [40]:
df.dropna(inplace=True)

In [41]:
df.dropna().sum()

Account length                                                       334247
Area code                                                           1445628
International plan        NoNoNoYesYesYesYesNoYesNoNoNoNoNoNoNoNoNoNoNoY...
Voice mail plan           YesYesNoNoNoNoNoNoYesNoNoNoNoNoYesNoNoNoNoNoYe...
Number vmail messages                                                 26659
Total day minutes                                                  594417.1
Total day calls                                                    332175.0
Total day charge                                                   101052.7
Total eve minutes                                                  664530.2
Total eve calls                                                    331274.0
Total eve charge                                                   56485.77
Total night minutes                                                664616.8
Total night calls                                                  331054.0
Total night charge                                                  29908.0
Total intl minutes                                                  33845.8
Total intl calls                                                      14787
Total intl charge                                                   9140.04
Customer service calls                                               5163.0
Churn                                                                   480
dtype: object

In [43]:
df.drop([7,9],inplace=True)

KeyError: '[7 9] not found in axis'

In [44]:
print(df.index)

Index(['KS', 'OH', 'NJ', 'OH', 'OK', 'AL', 'MO', 'LA', 'WV', 'IN',
       ...
       'IN', 'WV', 'OH', 'OH', 'SC', 'AZ', 'WV', 'RI', 'CT', 'TN'],
      dtype='object', name='State', length=3307)

In [49]:
##df.drop(['KS', 'OH'],inplace=True,axis=0)

KeyError: "['KS' 'OH'] not found in axis"

In [ ]:
##Dropping Columns

In [50]:
df.drop('Area code',axis=1)

,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,
NJ,137,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
OK,75,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
AL,118,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
MO,147,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
LA,117,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
WV,68,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
RI,28,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
CT,184,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
TN,74,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [ ]:
## Adding calculated columns

In [51]:
df['New column']= df['Total day calls'] + df['Total night calls']
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New column
State,,,,,,,,,,,,,,,,,,,,
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False,218.0
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False,234.0
AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False,216.0
MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False,175.0
LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False,187.0

In [ ]:
##updating an entire column

In [52]:
df['New column 2'] =100

In [54]:
df.tail()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New column,New column 2
State,,,,,,,,,,,,,,,,,,,,,
AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,160.0,100
WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,180.0,100
RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,200.0,100
CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,242.0,100
TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,190.0,100

##updating specific values

In [60]:
df.iloc[0,-1]=10
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New column,New column 2,"(0, -1)"
State,,,,,,,,,,,,,,,,,,,,,
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,...,104.0,7.32,12.2,5,3.29,0.0,False,218.0,20,10
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,121.0,8.41,10.1,3,2.73,3.0,False,234.0,100,20
AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,...,118.0,9.18,6.3,6,1.70,0.0,False,216.0,100,20
MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,...,96.0,9.53,7.1,6,1.92,0.0,False,175.0,100,20
LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,...,90.0,9.71,8.7,4,2.35,1.0,False,187.0,100,20

In [ ]:
##condition based updating

In [62]:
df['churn binary']=df['Churn'].apply(lambda x:1 if x==True else 0)

In [63]:
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New column,New column 2,"(0, -1)",churn binary
State,,,,,,,,,,,,,,,,,,,,,
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,...,7.32,12.2,5,3.29,0.0,False,218.0,20,10,0
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,8.41,10.1,3,2.73,3.0,False,234.0,100,20,0
AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,...,9.18,6.3,6,1.70,0.0,False,216.0,100,20,0
MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,...,9.53,7.1,6,1.92,0.0,False,175.0,100,20,0
LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,...,9.71,8.7,4,2.35,1.0,False,187.0,100,20,0

In [69]:
chaarn=df.copy()
df.set_index(['Churn'],inplace=True)
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,New column,New column 2,"(0, -1)",churn binary
Churn,,,,,,,,,,,,,,,,,,,,,
False,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,...,104.0,7.32,12.2,5,3.29,0.0,218.0,20,10,0
False,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,121.0,8.41,10.1,3,2.73,3.0,234.0,100,20,0
False,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,...,118.0,9.18,6.3,6,1.70,0.0,216.0,100,20,0
False,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,...,96.0,9.53,7.1,6,1.92,0.0,175.0,100,20,0
False,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,...,90.0,9.71,8.7,4,2.35,1.0,187.0,100,20,0

In [76]:
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,New column,New column 2,"(0, -1)",churn binary
Churn,,,,,,,,,,,,,,,,,,,,,
False,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,...,104.0,7.32,12.2,5,3.29,0.0,218.0,20,10,0
False,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,121.0,8.41,10.1,3,2.73,3.0,234.0,100,20,0
False,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,...,118.0,9.18,6.3,6,1.70,0.0,216.0,100,20,0
False,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,...,96.0,9.53,7.1,6,1.92,0.0,175.0,100,20,0
False,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,...,90.0,9.71,8.7,4,2.35,1.0,187.0,100,20,0

In [78]:
print(df.index)

Index([False, False, False, False, False, False,  True, False, False, False,
       ...
       False,  True,  True, False, False, False, False, False, False, False],
      dtype='object', name='Churn', length=3159)

In [83]:
print(df.columns)  # Check the column names

Index([        'Account length',              'Area code',
           'International plan',        'Voice mail plan',
        'Number vmail messages',      'Total day minutes',
              'Total day calls',       'Total day charge',
            'Total eve minutes',        'Total eve calls',
             'Total eve charge',    'Total night minutes',
            'Total night calls',     'Total night charge',
           'Total intl minutes',       'Total intl calls',
            'Total intl charge', 'Customer service calls',
                   'New column',           'New column 2',
                        (0, -1),           'churn binary'],
      dtype='object')

In [84]:
df['Area code']

Churn
False    415
False    415
False    510
False    415
False    408
        ...
False    415
False    415
False    510
False    510
False    415
Name: Area code, Length: 3159, dtype: int64

##GROUPING AND SORTING DATA

In [7]:
grouped_df = df.groupby('Account length')
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BA42AEA0C0>

In [9]:
##sorting
sorted_df = df.sort_values(by='Account length', ascending=False)
print(sorted_df)

     State  Account length  Area code International plan Voice mail plan  \
817     UT             243        510                 No              No
1408    NM             232        408                 No              No
1751    WY             225        415                 No              No
1551    MI             225        415                 No              No
1886    ID             224        510                 No              No
...    ...             ...        ...                ...             ...
1838    IA               1        408                 No             Yes
2879    SC               1        415                 No             Yes
923     MS               1        415                 No              No
1409    NJ               1        415                 No             Yes
2475    AK               1        408                 No              No

      Number vmail messages  Total day minutes  Total day calls  \
817                       0               95.5             92.0
1408                      0              165.6            104.0
1751                      0              182.7            142.0
1551                      0              165.4            106.0
1886                      0              111.4            133.0
...                     ...                ...              ...
1838                     26              208.0            115.0
2879                     26              146.6             68.0
923                       0              144.8            107.0
1409                     30              183.1             95.0
2475                      0              175.2             74.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
817              16.24              163.7             63.0             13.91
1408             28.15              195.9            115.0             16.65
1751             31.06              246.5             63.0             20.95
1551             28.12              273.7            109.0             23.26
1886             18.94              175.0             66.0             14.88
...                ...                ...              ...               ...
1838             35.36              185.0            113.0             15.73
2879             24.92              172.8             67.0             14.69
923              24.62              112.5             66.0              9.56
1409             31.13              232.6            110.0             19.77
2475             29.78              151.7             79.0             12.89

      Total night minutes  Total night calls  Total night charge  \
817                 264.2              118.0               11.89
1408                118.3               77.0                5.32
1751                218.0              103.0                9.81
1551                210.0               93.0                9.45
1886                217.2              106.0                9.77
...                   ...                ...                 ...
1838                177.7              144.0                8.00
2879                173.8              113.0                7.82
923                 218.7               79.0                9.84
1409                248.3              110.0               11.17
2475                230.5              109.0               10.37

      Total intl minutes  Total intl calls  Total intl charge  \
817                  6.6                 6               1.78
1408                11.8                 3               3.19
1751                 8.8                 2               2.38
1551                 8.7                 3               2.35
1886                 5.5                 6               1.49
...                  ...               ...                ...
1838                 8.1                 9               2.19
2879                10.0                 2               2.70
923                 13.8                 3               3.73
1409                 8.4                 2               2.27
2475                 5.3                 3               1.43

      Customer service calls  Churn
817                      2.0  False
1408                     1.0  False
1751                     1.0  False
1551                     0.0   True
1886                     3.0  False
...                      ...    ...
1838                     1.0  False
2879                     1.0  False
923                      1.0  False
1409                     0.0  False
2475                     1.0  False

[3333 rows x 20 columns]

##OUTPUT A CVS

In [ ]:
df.to_csv('output.csv')

## OUTPUT TO JSON

In [85]:
df.to_json()

ValueError: DataFrame index must be unique for orient='columns'.

In [ ]:
df.to_html()

In [ ]:
## To delete

In [ ]:
##del df