In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Loading training_variants (default comma-separated values)
data_variants = pd.read_csv('training/training_variants')

# Loading training_text dataset, correctly handling "||" as the separator
data_text = pd.read_csv("training/training_text", sep=r"\|\|", engine="python", names=["ID", "TEXT"], skiprows=1)

#The warning you’re seeing is because "\|\|" contains an invalid escape sequence. In Python,the backslash (\) is used for escaping characters, 
#but | doesn’t need escaping. Instead, you should use raw strings (r"") or double backslashes (\\) to define the separator correctly

In [8]:
data_variants.head(5)

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [9]:
data_variants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3321 entries, 0 to 3320
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         3321 non-null   int64
 1   Gene       3321 non-null   object
 2   Variation  3321 non-null   object
 3   Class      3321 non-null   int64
dtypes: int64(2), object(2)
memory usage: 103.9+ KB

In [10]:
data_variants.describe()

                ID        Class
count  3321.000000  3321.000000
mean   1660.000000     4.365854
std     958.834449     2.309781
min       0.000000     1.000000
25%     830.000000     2.000000
50%    1660.000000     4.000000
75%    2490.000000     7.000000
max    3320.000000     9.000000

In [12]:
data_variants.shape

(3321, 4)

In [14]:
data_variants.columns

Index(['ID', 'Gene', 'Variation', 'Class'], dtype='object')

In [15]:
# checking the dimentions
data_text.shape

(3321, 2)

In [16]:
# checking the columns
data_text.columns

Index(['ID', 'TEXT'], dtype='object')

In [5]:
data_text.describe()

                ID
count  3321.000000
mean   1660.000000
std     958.834449
min       0.000000
25%     830.000000
50%    1660.000000
75%    2490.000000
max    3320.000000

In [6]:
data_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3321 entries, 0 to 3320
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3321 non-null   int64
 1   TEXT    3316 non-null   object
dtypes: int64(1), object(1)
memory usage: 52.0+ KB

so the .Class accesses the class column in the data_varants data frame
The .Unique() function finds all the unique values in thee class column

In [8]:
data_variants.Class.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)